<%- include('header') -%>

<%- include('menu', {active: 'artist'}) -%>

    <div class="container my-5">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Nationality</th>
                    <th scope="col" class="text-center" style="width: 100px;">Age</th>
                    <th scope="col" style="width:  100px;"></th>
                </tr>
            </thead>
            <tbody>
                <% artists.forEach(function(artist){ %>
                    <tr>
                        <td>
                            <a href="/artist/list/<%= artist._id %>" class="text-dark"><%= artist.name %></a>
                        </td>
                        <td>
                            <%= artist.nationality %>
                        </td>
                        <td class="text-center">
                            <%= artist.age %>
                        </td>
                        <td class="text-center">
                            <a href="/artist/edit/<%= artist._id %>" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                            <a href="/artist/del/<%= artist._id %>" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <br>
        <a href="/artist/new" class="btn btn-block btn-primary">Add new artist</a>
    </div>

<%- include('footer') -%>