<%- include('header') -%>

<%- include('menu', {active: 'none'}) -%>

    <div class="card bg-light container mt-5 mb-n5">
        <div class="card-body">
          <h5 class="card-title"><%= oneArtist.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Nationality: <%= oneArtist.nationality %></h6>
          <h6 class="card-subtitle mb-2 text-muted">Age: <%= oneArtist.age %></h6>
        </div>
      </div>

    <div class="container my-5">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Artists</th>
                    <th scope="col" class="text-center" style="width: 100px;">Rating</th>
                    <th scope="col" class="text-center" style="width: 100px;">Lenght</th>
                    <th scope="col" style="width:  100px;"></th>
                </tr>
            </thead>
            <tbody>
                <% songs.forEach(function(song){ %>
                    <tr>
                        <td>
                            <%= song.title %>
                        </td>
                        <td>
                            <%= oneArtist.name %>
                        </td>
                        <td class="text-center">
                            10/<%= song.rating %>
                        </td>
                        <td class="text-center">
                            <%= song.length %>
                        </td>
                        <td class="text-center">
                            <a href="/song/edit/<%= song._id %>" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                            <a href="/song/del/<%= song._id %>" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% }); %>
                <!--
                <tr>
                    <td>B-dúr fagottverseny (K.191), 1. tétel</td>
                    <td>Wolfgang Amadeus Mozart</td>
                    <td class="text-center">10/10</td>
                    <td class="text-center">4:20</td>
                    <td class="text-center">
                        <a href="/song/edit/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="/song/del/1" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                -->
            </tbody>
        </table>
        <br>
        <a href="/song/new" class="btn btn-block btn-primary">Add new song</a>
    </div>


    <%- include('footer') -%>