<%- include('header') -%>

<%- include('menu', {active: 'none'}) -%>

    <div class="container">
        <div class="card bg-light mt-5 mb-n5">
            <div class="card-header">
                Edit artist
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= oneArtist.name %>">
                    </div>
                    <div class="form-group">
                        <label for="nationality">Nationality</label>
                        <input type="text" class="form-control" id="nationality" name="nationality" value="<%= oneArtist.nationality %>">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" name="age" value=<%= oneArtist.age %>>
                        <small id="age help" class="form-text text-muted">If it's a band, age from the foundation</small>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Edit artist"/>
                    <a type="button" href="/artist" class="btn btn-outline-primary">Cancel</a>
                </form>
            </div>
        </div>
    </div>

    <%- include('footer') -%>